*{ box-sizing : border-box;
}
body{
    margin: 0;
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    color: rgb(188, 188, 248);
     overflow-x: hidden;
     font-family: cursive;

}
.header{
    height: 100%;
    display: flex;
    align-items: center;
    color: aqua;
}  
.content{
    max-width: 49rem;
    padding-left:1rem;
    padding-right:1rem ;
    margin:auto;
    text-align: center;
}
.header-video{
    position: fixed;
    min-width: 100%;
    min-height: 20vmax;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    overflow:hidden;

}
.header-video video{
    min-width :100% ;
    min-height:100% ;
}
.header-overlay{
    height: 100vh;
    width: 40%;
    position:absolute;
    top: 0;
    left: 0;
    background: rgb(182, 221, 230);
    z-index: 1;
    opacity: -85;
  
}
.header-content{
    z-index:2;
}