*{ box-sizing : border-box;
}
body{
    
    background-image: url(https://media.tenor.com/p7al9eAckwwAAAAC/kimi-no-na-wa-taki-tachibana.gif);
    align-content: center;
    color: rgb(188, 188, 248);
     overflow-x: hidden;
     font-family: cursive;

}
.header{
    height: 100%;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.923);
   
}  
.content{
    max-width: 49rem;
    padding-left:1rem;
    padding-right:1rem ;
    margin:auto;
    text-align: center;
}
.column1{
    float: left;
   
}
.column2{
    float: right ;
}